@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myButton {
    display: flex;
    gap: 7px;
    margin: 25px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    background-color: #30A7D7;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body {
    font-family: "Lato", sans-serif;

}

.main-content {
    margin: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 5% auto 10%;
    margin-bottom: 20px;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.preview-pokemon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.preview-pokemon img {
    width: 200px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 12px;
}

.pokemon-number {
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.pokemon-types {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    margin-bottom: 15px;
    align-items: center;
}

.pokemon-name {
    font-size: 20px;
}

.type {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 14px;
    background-color: grey;
    border-radius: 3px;
    width: 80px;
    align-items: center;
}

.grass {
    background-color: #9BCC50;
}

.poison {
    background-color: #B97FC9;
    color: white;
}

.fire {
    background-color: #FD7D24;
    color: white;
}

.flying {
    background: #BDB9B8;
    background: linear-gradient(0deg, rgba(189, 185, 184, 1) 50%, rgba(61, 199, 239, 1) 50%);
    ;
}

.water {
    background-color: #4592C4;
    color: white;
}

.bug {
    background-color: #729F3F;
    color: white;
}

.normal {
    background-color: #A4ACAF;
}

.electric {
    background-color: #EED535;
}

.ground {
    background: #AB9842;
    background: linear-gradient(0deg, rgba(171, 152, 66, 1) 50%, rgba(238, 213, 53, 1) 50%);
}

.pokeball {
    width: 25px;
    height: auto;

}